body{
    background-color: #dddddd4f;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
h1{
    margin: 30px;
}

.divPadre{

    display: flex;
    width: 100%;
}

.divIzquierdo{

    width: 50%;

}

.divDerecho{
    width: 50%;

}
input{
    width: 80%;
    padding: 15px;
}

select{
    width: 90%;
    padding: 15px;
}

.divButton{
    text-align: center;
    margin-top: 25px;
}
button{
    display: flex;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 180px;
    padding: 15px;
    background-color:  #33cc33;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
}
form{
    width: 40%;
    margin: auto;
    text-align: left;
}