body {
    background-color: #dddddd4f;
    text-align: center;
    font-family: "Poppins", sans-serif;
}


.DivContainerGCC {
    display: flex;
    width: 600px;
    margin: auto;
    margin-top: 50px;

    text-align: left;
}

.DivLeftGCC {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;

}

.DivRigthGCC {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.DivBotonesGCC {
    text-align: center;
    width: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding-right: 90px;
}

button {
    background-color:  #33cc33;
    text-align: center;

    flex-direction: row;
    color: white;
    width: 200px;
    height: 40px;
    border: none;

}

input, select {
    width: 200px;
    height: 30px;
}

textarea {
    width: 200px;
    height: 120px;
}