body {
    background-color: #dddddd4f;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.divContentGP {
    display: flex;
    width: 600px;
    margin: auto;
    margin-top: 50px;
    gap: 50px;
    text-align: left;
}


.divIzquierdoGP {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
}

.divDerechoGP {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
}

input, select {
    width: 200px;
    height: 30px;
}

button {
    background-color: #33cc33;
    color: white;
    text-align: center;
    width: 200px;
    height: 35px;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
}