body {
    background-color: #dddddd4f;
}

h1 {
    text-align: center;
    align-items: center;
}

.DivContainerGCC {
    display: flex;
    width: 600px;
    margin: auto;
    margin-top: 50px;
    gap: 50px;
}

.DivLeftGCC {
    display: flex;
    width: 50%;
    flex-direction: column;

}

.DivRigthGCC {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.DivBotonesGCC {
    text-align: center;
    width: auto;
}

button {
    background-color: green;
    text-align: center;
    align-items: center;
    color: white;
    width: 200px;
    height: 40px;
}

input, select {
    width: 200px;
    height: 30px;
}

textarea {
    width: 200px;
    height: 120px;
}