body {
    background-color: #dddddd4f;
}

.divContentGP {
    display: flex;
    width: 600px;
    margin: auto;
    margin-top: 50px;
    gap: 50px;
}

h1 {
    text-align: center;
    align-items: center;
}

.divIzquierdoGP {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.divDerechoGP {
    display: flex;
    width: 50%;
    flex-direction: column;
}

input, select {
    width: 200px;
    height: 30px;
}

button {
    background-color: green;
    color: white;
    text-align: center;
    align-items: center;
    width: 200px;
    height: 35px;
}