body {
    background-color: #dddddd4f;
    text-align: center;
    font-family: "Poppins", sans-serif;
}



.DivContainerEC {
    display: flex;
    width: 600px;
    margin: auto;
    margin-top: 50px;
    gap: 50px;
    text-align: left;
}

.DivLeftEC {
    display: flex;
    width: 50%;
    flex-direction: column;

}

.DivRigthEC {
    display: flex;
    width: 50%;
    flex-direction: column;
}

button {
    background-color:  #33cc33;
    text-align: center;
    align-items: center;
    color: white;
    width: 200px;
    height: 40px;
    border: none;
}

input, select, textarea {
    width: 200px;
    height: 30px;
}