body {
    background-color: #dddddd4f;
}

h1 {
    text-align: center;
    align-items: center;
}

.DivContainerSHMM {
    display: flex;
    width: 600px;
    margin: auto;
    margin-top: 50px;
    gap: 50px;
}

.DivIzqSHM {
    display: flex;
    width: 50%;
    flex-direction: column;
}
.DivCentroSHM {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.DivDerSHM {
    text-align: center;
    width: auto;
}

button {
    background-color: green;
    text-align: center;
    align-items: center;
    color: white;
    width: 200px;
    height: 40px;
}

input, select, textarea {
    width: 200px;
    height: 30px;
}